.wrapper
{
    background-color: aqua;
}
h1
{
text-align: center;
background-color: cadetblue;
}

ul
{
    text-align: center;
}

li
{
    display: inline-block;
}

.game
{
    width: 350px;
    background-color: black;

}

.burts
{
    display: inline-block;
    background-color: aquamarine;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(112, 110, 110);
    text-align: center;

}